<div class="card">
  <div class="card-header">Basket</div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let product of basket">
      {{ product.title }} <span class="label label-primary pull-right">{{ product.price | currency : 'EUR' }}</span>
    </li>
  </ul>
</div>

<div class="card mt-3">
  <div class="card-header">Order</div>

  <div class="card-body">
    <form (submit)="checkout($event)">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input type="text" id="name" class="form-control" name="name" />
      </div>

      <div class="mb-3">
        <label class="form-label" for="address">Address</label>
        <textarea id="address" class="form-control" name="address"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="creditCard">Credit card number</label>
        <input id="creditCard" class="form-control" name="creditCard" />
      </div>

      <button type="submit" class="btn btn-success pull-right">Validate</button>
    </form>
  </div>
</div>
